/* Custom color and button animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply pulse animation to the custom button */
.btn-custom {
  background-color: #005477; /* Updated to #005477 */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  animation: pulse 1s infinite;
  background-color: #004466; /* Slight color variation on hover */
}

/* Style links */
.text-decoration-none {
  color: #005477; /* Updated to #005477 */
  font-weight: bold;
}

.text-decoration-none:hover {
  text-decoration: underline;
}

/* Background color for the header */
.header-bg {
  background-color: #005477; /* Non-transparent background */
}

/* Word color animation for the header */
.word1, .word2, .word3 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  animation: colorChange 3s infinite alternate;
}

.word2 {
  animation-delay: 1s;
}

.word3 {
  animation-delay: 2s;
}

@keyframes colorChange {
  0% {
    color: #ffff;
  }
  100% {
    color: #5CB8FF; /* Updated to #005477 */
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
